@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import './styles.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

.App {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}
